.app-navbar {
    height: 64px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
  }
  
  .brand {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
  }
   
  .brand-img {
    width: 36px;
    height: 36px;
    object-fit: contain;
    border-radius: 10px;
  }
  .brand span {
    margin-left: 0.2rem;
    font-weight:bold;
    font-size: 1.5rem;
    
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 19rem;
  }

  /*nav links - CENTER*/
  .nav-link {
    display: flex;
    gap: 1rem;
  }
  
  .nav-item {
    text-decoration: none;
    color: #333;
  }
  
  .nav-link-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    border-radius: 8px;
    transition: background 0.2s ease;
  }
  
  .nav-icon {
    font-size: 18px;
  }
  
  .nav-text {
    font-size: 14px;
    font-weight: 500;
  }
  
  .nav-item:hover .nav-link-content {
    background-color: #f2f4f7;
  }

  .nav-item.active .nav-link-content {
    background-color: #e8f0ff;
    color: #309099;
  }
  
  .nav-item.active .nav-icon {
    color: #2e828a;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
    padding-right: 20px;
  }
  
  .nav-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-top-icon {
    font-size: 22px;
    color: #000; /* pure black */
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  /* Hover effect (subtle professional) */
  .nav-icon-btn:hover .nav-top-icon {
    transform: scale(1.15);
    color: #111;
  }
  
  /* Logout slight warning hint */
  .nav-icon-btn.logout:hover .nav-top-icon {
    color: #d32f2f;
  }
  